params {
    mag_paths = "path/to/mag_paths.tsv"
    bam_paths = "path/to/bam_paths.tsv"
    reads_paths = "path/to/reads_paths.tsv"
    metadata = "path/to/metadata.tsv"
    outdir = "results"
    checkm2_db = "/mnt/data1/db/CheckM2_database/uniref100.KO.1.dmnd"
    run_shiny = false
}

process {

    cpus = 12
    memory = '36 GB'
    time = '6h'
    errorStrategy = 'retry'
    maxRetries = 3

    //withName: 'CHECKM2' {
    //}
    withName: 'COVERM' {
        conda = "/opt/miniforge3/envs/genomics"
        cpus = 12
        memory = '36 GB'
        time = '6h'
    }
    withName: 'FREEBAYES' {
        conda = "/opt/miniforge3/envs/genomics"
        cpus = 12
        memory = '36 GB'
        time = '6h'     
    }
    withName: 'FILTER_VCF' {
        conda = "/opt/miniforge3/envs/genomics"
        cpus = 12
        memory = '36 GB'
        time = '6h'     
    }
    //withName: 'PROKKA' {
    //}
    withName: 'POGENOM' {
        conda = "/opt/miniforge3/envs/genomics"
        cpus = 12
        memory = '36 GB'
        time = '6h'     
    }
//    withName: 'SHINY_APP' {
//       conda = "/opt/miniforge3/envs/r-shiny"
//        cpus = 8
//        memory = '12 GB'
//        time = '2h'
//    }
}

conda {
    enabled = true
    useMamba = true
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capture Nextflow log files
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
